.kanban_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  #wrapper {
    text-align: center;
  } 

  .column_check_in_out {
    float: left;
    width: 20.00%;
    padding: 5px;
  }
  /* Clear floats after image containers */
  .row_check_in_out::after {
    content: "";
    clear: both;
    display: table;
  }